body{
    
    font-family: 'Armata','Exo 2', sans-serif;
    color: #002855;
    background-color: #E8E9ED;
    margin: 0px;
    padding: 0px;
    
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }

    
    .header {
        
        position: fixed;
        background-color: #002855;
        color: #cccccc;
        border-radius: 30px 0px 30px 0px; 
        height: 25%;
        width: 95%;
        margin-left: 5px;  
        vertical-align: top;
        box-shadow:15px 15px 35px #002855;
    }
    .header div{

        display: inline-block;
      
    }

    .header div:first-child img {
        
        
        max-height: 210px;
        margin-top: 15px;
        margin-left: 15px;
        border-radius: 20px 0px;
        border:solid #cccccc 3px;
    
    } 

    .header div:last-child{
     
        vertical-align:top;
        margin-top: 0px;
    }

    .header div h2 {

        
        vertical-align:middle ;
        width: 90%;
        font-size: 250%;
        font-weight: 300;
        /* padding-top: 5px;
        padding-left: 10px; */

      
    }

    .header div h1 {

        
        vertical-align: bottom;
        font-size: 350%;
        font-weight: 800;
        /* padding-top: 30px;
        padding-left: 10px; */
    }

    .text{
        padding-top: 250px;
    }

    .boxes {


        width: 55%;
        margin-left: 1px;
        margin-right: 5px;
        padding-left: 15px;
        padding-right: 5px;
        padding-top: 85px;
    }

    .boxes div {

        border-radius: 20px 20px 20px 20px;
        box-shadow:15px 15px 35px #002855;
    }

    .boxes p:first-child{

        background-color: #002855;
        color: #cccccc;
        border-radius:20px 20px 00px 0px;
        margin-top: 0px;
        padding-left: 15px;
        padding-top: 2px;
        font-size: 24px;
        font-weight: 800;
        text-align: left;
        

    }

    .boxes p:last-child{

        font-size: 20px;
        text-align: justify;
        line-height: 2;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        margin-top: 10px;
        padding-top: 10px;
    }

    .boxes ul li{

        font-size: 20px;
        text-align: justify;
        margin-left: 1px;
        margin-top: 1px;
        margin-right: 1px;
        margin-top: 0px;
       line-height: 2;
    }